<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animals</title>
    <%= include("../imports.ejs") %>
</head>
<body>
    <h1>Animals App</h1>
    <h2>Create an Animal</h2>
    <form action="/animal" method="post">
        <label for="species">Species:</label>
        <input type="text" name="species" placeholder="name of species"/>

        <label for="extinct">Extinct:</label>
        <input type="checkbox" name="extinct" checked/>

        <label for="location">Location:</label>
        <input type="text" name="location" placeholder="name of location"/>

        <label for="lifeExpectancy">Life Expectancy:</label>
        <input type="number" name="lifeExpectancy" placeholder="life span"/>
        
        <input type="submit" value="Submit">
    </form>
</body>
</html>