body {
    background-color: lavender;
}

h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
}

h2 {
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    color:darkslateblue;
}

h3 {
    font-family: 'Cinzel', serif;
    font-size: 40px;
}
legend {
    font-family: 'Cinzel', serif;
}

label {
    font-family: 'Comfortaa', cursive;
    font-size: 15px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-family: 'Patua One', cursive;
}

button {
    padding: 0;
    background: none;
    border: none;
    font: inherit;
    color: inherit;
    cursor: pointer;
}

button a {
    display: inline-block;
    padding: 5px 10px;
    font-size: 14px;
    text-decoration: none;
    background-color:brown;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Cinzel', serif;
}

button a:hover {
    background-color:coral;
}

button a:active {
    background-color: coral;
}

ul {
    margin: 10px 0;
    padding: 0;
    list-style-type: none;
    font-family: 'Comfortaa', cursive;
}

li {
    margin-bottom: 5px;
}

button {
    display: inline-block;
    padding: 5px 10px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color:brown;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    
}

button:hover {
    background-color:coral;
}

button:active {
    background-color:coral;
}

input[type="submit"] {
    display: inline-block;
    padding: 5px 10px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color:coral;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Cinzel', serif;
}

input[type="submit"]:hover {
    background-color:coral;
}

input[type="submit"]:active {
    background-color:coral;
}

article {
    background-color: #f2f2f2;
    padding: 5px;
    margin-bottom: 20px;
}
